.navbar {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  padding: 0.7rem 1rem;
  z-index: 3;
}

.mynav {
  position: absolute;
  right: 1rem
}

.jumbotron {
  background-image: url(http://i66.tinypic.com/28am9fs.jpg);
  text-align: center;
  background-size: 100%;
  background-size: contain;
}

.small-kiri {
  color: #6c757d;
  position: absolute;
  font-size: 12.8px;
}

.small-kanan {
  position: absolute;
  right: 0;
  font-size: 12.8px;
  color: red;
}

.display-4 {
  color: white;
  font-size: 4.5rem;
}

.lead {
  color: white;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.card:hover {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, .5);
}

.btn-outline-success {
  margin: 2rem;
}

.whiteme {
  color: white;
}
